version: '3.8'

services:
  web:
    build: .
    ports:
      - "8000:8000"
    environment:
      - DEBUG=False
      - ALLOWED_HOSTS=*
    volumes:
      - ./media:/app/media
      - ./staticfiles:/app/staticfiles