services:
  server:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - ${PORT:-8000}:8000
    restart: unless-stopped
    environment:
      DATABASE_URL: ${DATABASE_URL}
      DEBUG: ${DEBUG:-False}
      ALLOWED_HOSTS: ${ALLOWED_HOSTS}
      CSRF_TRUSTED_ORIGINS: ${CSRF_TRUSTED_ORIGINS}
      SECRET_KEY: ${SECRET_KEY}
      TIME_ZONE: ${TIME_ZONE}
      DB_INIT_PASSWORD: ${DB_INIT_PASSWORD}
    command: sh ./entrypoint.sh
    volumes:
      - ./media:/app/media
      - ./staticfiles:/app/staticfiles
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:16-bullseye
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: finonesthrms
      POSTGRES_PASSWORD: "Finonest@hr@admin"
      POSTGRES_INITDB_ARGS: "--auth-host=scram-sha-256"
      PGDATA: /var/lib/postgresql/data/pgdata
    restart: unless-stopped
    volumes:
      - horilla-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "finonesthrms"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  horilla-data:
